.case_view {
	margin: 0 auto;
	width: 960px;
    
	
	.center {
		text-align: center;
	}
	
	.ico_prac_access {
		//@extend .icofont_alpha;
		//font-family: $icofont_alpha !important;
		//font-size: 1.667em;
		//text-transform: none;
		//width: 36px !important;
		text-align: center;
	}
	
	.blank { 
		width: 25px;
		border: 0; }
	
	.icofont_alpha {
		width: 24px !important;
		text-transform: none;
		line-height: 0.5em;
		a {
			display: block;
			&:active, &:hover {
				text-decoration: none;
			}
		}
	}
	
	.form_block {
		width: 60%;
	}
	
	.bookmark_nav {
		width: 100%;
		margin-bottom: #{20 / $em}em;
	}
	
	.left_controls {
		@include grid(12,2,percent);
		a {
			margin-bottom: #{10 / $em}em;
			&.button {
				display: block;
				float: left;
				width: 60%;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	
	.table_data {
		float: left;
		width: 800px;
		.default_header {
			tr {
				background: scale-color($india_grey, $lightness: 51%);
				th {
					line-height: 30px;
				}
			}
		}
		.pracno { width: 60px; text-align: center; }
		.name { width: 120px; }
		.addr { 
			width: 220px;
			.ie8 & {
				width: 200px;
			} 
		}
		.city { width: 120px; }
		.state { width: 50px; }
		.zip { width: 50px; text-align: center; }
		.source_code { width: 94px; }
		.userid { width: 100px; }
		.status { width: 50px; }
		.email { 
			width: 290px; 
			.ie8 & {
				width: 270px;
			}
		}
		.admin { width: 50px; }
		.access { width: 115px; }
		.catcode {width: 200px; }
		.catdesc {width: 200px; }
	}
	
	.pxfull {
	    float:left;
		margin-left: 0;
		margin-right: 34px;
		width:750px;
	}
	.px550 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:500px;
	}
	.px550t {
	    float:left;
		margin-left: 0;
		margin-right: 34px;
		width:500px;
	}
	.px500 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:450px;
	}
	.px500t {
	    float:left;
		margin-left: 0;
		margin-right: 34px;
		width:450px;
	}
	.px450 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:400px;
	}
	.px450y {
	    float:left;
		margin-left: 0;
		margin-right: 34px;
		width:400px;
	}
	.px400 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:350px;
	}
	.px400t {
	    float:left;
		margin-left: 0;
		margin-right: 34px;
		width:350px;
	}
	.px350 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:300px;
	}
	.px350t {
	    float:left;
		margin-left: 0;
		margin-right: 34px;
		width:300px;
	}
	.px300 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:250px;
	}
	.px300t {
	    float:left;
		margin-left: 0;
		margin-right: 34px;
		width:250px;
	}	
	.px250 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:200px;
	}
	.px250t {
	    float:left;
		margin-left: 0;
		margin-right: 34px;
		width:200px;
	}	
	.px200 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:150px;
	}
	.px200t {
	    float:left;
		margin-left: 0;
		margin-right: 34px;
		width:150px;
	}	
	.px150 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:100px;
	}	
	.px150t {
	    float:left;
		margin-left: 0;
		margin-right: 34px;
		width:100px;
	}	
	.px100 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:50px;
	}	
	.px100t {
	    float:left;
		margin-left: 0;
		margin-right: 34px;
		width:50px;
	}
	.pxcheck {
	    float:left;
		margin-left: 0;
		margin-right: 25px;
		width:25px;
	}
	.px50 {
	    float:left;
		margin-left: 0;
		margin-right: 25px;
		width:25px;
	}	
	.px25 {
	    float:left;
		margin-left: 0;
		margin-right: 25px;
		width:25px;
	}

    label {
		line-height: 25px;
		margin-bottm:5px;
	}	
	
	
}