

.case_view {
	margin: 0 auto;
	width: 960px;
	
	.center {
		text-align: center;
	}
	
	.ico_prac_access {
		//@extend .icofont_alpha;
		//font-family: $icofont_alpha !important;
		//font-size: 1.667em;
		//text-transform: none;
		//width: 36px !important;
		text-align: center;
	}
	
	.blank { 
		width: 25px;
		border: 0; }
	
	.icofont_alpha {
		width: 24px !important;
		text-transform: none;
		line-height: 0.5em;
		a {
			display: block;
			&:active, &:hover {
				text-decoration: none;
			}
		}
	}
	
	.form_block {
		width: 60%;
	}
	
	.bookmark_nav {
		width: 100%;
		margin-bottom: #{20 / $em}em;
	}
	
	.left_controls {
		@include grid(12,2,percent);
		a {
			margin-bottom: #{10 / $em}em;
			&.button {
				display: block;
				float: left;
				width: 60%;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	
	.menu_top {
	    width: 100%;
		background-color: #333;} 
	
	.menu_top ul{
		margin: 0; padding: 0;
		float: left;}
 
	.menu_top ul li{
		display: inline;}
 
	.menu_top ul li a{
		float: left; text-decoration: none;
		color: white; 
		padding: 10.5px 11px;
		background-color: #333; }
 
	.menu_top ul li a:visited{
		color: white;}
 
	.menu_top ul li a:hover, .menu ul li .current{
		color: #fff;
		background-color:#0b75b2;}
	
	
	.table_data {
		float: left;
		width: 800px;
		height: 425px;
		.default_header {
			tr {
				background: scale-color($india_grey, $lightness: 51%);
				th {
					line-height: 30px;
				}
			}
		}
		.pracno { width: 60px; text-align: center; }
		.name { width: 120px; }
		.addr { 
			width: 220px;
			.ie8 & {
				width: 200px;
			} 
		}
		.city { width: 120px; }
		.state { width: 50px; }
		.zip { width: 50px; text-align: center; }
		.source_code { width: 94px; }
		.userid { width: 100px; }
		.status { width: 50px; }
		.email { 
			width: 290px; 
			.ie8 & {
				width: 270px;
			}
		}
		.admin { width: 50px; }
		.access { width: 115px; }
		.catcode {width: 200px; }
		.catdesc {width: 200px; }
	}
	
	.pxfull {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:750px;
	}
	.px725t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:675px;
	}
	.px700t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:650px;
	}
		
	.px675t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:625px;
	}
	.px650 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:600px;
	}
	.px650t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:600px;
	}
	.px550 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:500px;
	}
	.px550t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:500px;
	}
	.px500 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:450px;
	}
	.px500t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:450px;
	}
	.px450 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:400px;
	}
	.px450t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:400px;
	}
	.px440 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:390px;
	}
	.px440t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:390px;
	}
	.px400 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:350px;
	}
	.px400t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:350px;
	}
	.px375 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:325px;
	}
	.px375t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:325px;
	}
	.px350 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:300px;
	}
	.px350t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:300px;
	}
	.px340 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:290px;
	}
	.px340t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:290px;
	}
	.px325 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:275px;
	}	
	.px325t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:275px;
	}	
	.px300 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:250px;
	}
	.px300t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:250px;
	}	
	.px250 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:200px;
	}
	.px250t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:200px;
	}	
	.px200 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:150px;
	}
	.px200t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:150px;
	}	
	.px150 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:100px;
	}	
	.px150t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:100px;
	}	
	.px100 {
	    float:left;
		margin-left: 0;
		margin-right: 50px;
		width:50px;
	}	
	.px100t {
	    float:left;
		margin-left: 0;
		margin-right: 30px;
		width:50px;
	}
	.pxcheck {
	    float:left;
		margin-left: 0;
		margin-right: 25px;
		width:25px;
	}
	.px50 {
	    float:left;
		margin-left: 0;
		margin-right: 25px;
		width:25px;
	}	
	.px25 {
	    float:left;
		margin-left: 0;
		margin-right: 25px;
		width:25px;
	}
	.indent25 {
	    float:left;
		margin-left: 0;
		margin-right: 0;
		width:25px;
	}
	.px75n {
	    float:left;
		margin-left: 0;
		margin-right: 20px;
		width:55px;
	}	
	.px75nt {
	    float:left;
		margin-left: 0;
		margin-right: 4px;
		width:55px;
	}
	
	.px100n {
	    float:left;
		margin-left: 0;
		margin-right: 20px;
		width:80px;
	}	
	.px100nt {
	    float:left;
		margin-left: 0;
		margin-right: 4px;
		width:80px;
	}
	.px125n {
	    float:left;
		margin-left: 0;
		margin-right: 20px;
		width:105px;
	}	
	.px125nt {
	    float:left;
		margin-left: 0;
		margin-right: 4px;
		width:105px;
	}
	.px150n {
	    float:left;
		margin-left: 0;
		margin-right: 20px;
		width:130px;
	}	
	.px150nr {
	    float:left;
		margin-left: 0;
		margin-right: 20px;
		text-align: right;
		width:130px;
	}	
	.px150nt {
	    float:left;
		margin-left: 0;
		margin-right: 4px;
		width:130px;
	}
	.px160n {
	    float:left;
		margin-left: 0;
		margin-right: 20px;
		width:140px;
	}	
	.px160nt {
	    float:left;
		margin-left: 0;
		margin-right: 4px;
		width:140px;
	}
	.px200n {
	    float:left;
		margin-left: 0;
		margin-right: 20px;
		width:180px;
	}	
	.px200nt {
	    float:left;
		margin-left: 0;
		margin-right: 4px;
		width:180px;
	}
	.px250n {
	    float:left;
		margin-left: 0;
		margin-right: 20px;
		width:230px;
	}	
	.px250nt {
	    float:left;
		margin-left: 0;
		margin-right: 4px;
		width:230px;
	}
	

    label {
		line-height: 25px;
		margin-bottm:5px;
	}	
}

.case_search {
	@extend .case_view;
}

.src_header {

	@extend default_header_bar;

}


.src_header ul {
	@extend .srp_header;
	padding-left: 20px;
	width: 988px;
	margin: 0 auto;
}

.src_search ul {
	@extend .srp_search;
	padding-left: 20px;
	width: 988px;
	margin: 0 auto;
}	

.src_search input {

	height: 35px;
	
}	

.search_view{
	@extend .case_view;
	width: 100%;
	
}	





