
<div class="admin_view" id="adminview">

  		<div class="modal_header">
			<div id="adminbanner" class="detail_header">ADMIN</div>
			<div class="action_buttons">
				<!--<button onclick=""><span class="icofont_alpha">p</span>PRINT</button>--><button onclick="dlogmain2close()" class="close">X</button>
			</div>
		</div>
	
        <div class="left_controls">
            <nav class="bookmark_nav">
                <ul>
                    <li><a id="usernav"     onclick="setusernav()" data-remote="true" href="/cases/setuser">Users</a><span></span></li>
                    <li><a id="surgprovnav" onclick="setsurgnav()" data-remote="true" href="/cases/setsurg">SURG Providers</a><span></span></li>
                    <li><a id="anesprovnav" onclick="setanesnav()" data-remote="true" href="/cases/setanes">ANES Providers</a><span></span></li>
                    <li><a id="crnaprovnav" onclick="setcrnanav()" data-remote="true" href="/cases/setcrna">CRNA Providers</a><span></span></li>
                </ul>
            </nav>
			
            <div id="adminbuttons"></div>
				
		</div>
		
		<div class="table_data">
			<div id="adminscrolldiv class="scroll_box">
					<table class="default_header modal_data_display" id="adminheader" style="table-layout:fixed;">
					<table class="modal_data_display" id="adminlist" style="table-layout:fixed;"">			   
			</div>
		</div>
</div>

