			<ul>
				<li><a id="polnav"  onclick="load_pat_section();" data-remote="true" href="#">Insurance</a><span></span></li>
				<li><a id="apptnav" onclick="load_surg_section();" data-remote="true" href="#">Appointments</a><span></span></li>
				<li><a id="histnav" onclick="" data-remote="true" href="#">Procedures</a><span></span></li>
				<li><a id="guarnav" onclick="" data-remote="true" href="#">Guarantor</a><span></span></li>
				<li><a id="comnav"  onclick="" data-remote="true" href="#">Comments</a><span></span></li>
				<li><a id="docnav"  onclick="" data-remote="true" href="#">Documents</a><span></span></li>
				<li><a href="#" onclick=alert("Imaging Data Is Not Available")>Imaging</a><span></span></li>
				<li><a href="#" onclick=alert("Prescription Data Is Not Available")>Prescriptions</a><span></span></li>
				<li><a href="#" onclick=alert("Lab Data Is Not Available")">Labs</a><span></span></li>
			</ul>

