<div class="src_header">
	<ul>
		<li class="px150">Case ID</li>
		<li class="px150">Date</li>
		<li class="px200">Anesthesiologist</li>
		<li class="px200">Patient ID</li>
		<li class="px200">Last Name</li>
		<li class="px200">First Name</li>
		<li class="px150">Patient DOB</li>
		<li class="px50"></li>
	</ul>
</div>
	


