
<div class="src_search" id="getpat">
	<ul>
		<li class="px150">
			<input type="text" id="gcCaseid" onkeypress="return restrictCharacters(this, event, mykeys);" onkeyup="callme();" />
		</li>
		
		<li class="px150">
			<input type="text" id="gcDate" onkeypress="return restrictCharacters(this, event, mykeys);" onkeyup="callme();" disabled="disabled" /> 
		</li>
		
		<li class="px200">
			<input type="text" id="gcProv" onkeypress="return restrictCharacters(this, event, mykeys);" onkeyup="callme();" /> 
		</li>
		
		<li class="px200">
			<input type="text" id="gcPatid" onkeypress="return restrictCharacters(this, event, mykeys);" onkeyup="callme();" />
		</li>
		
		<li class="px200">
			<input type="text" id="gcLname"  onkeypress="return restrictCharacters(this, event, mykeys);" onkeyup="callme();" />
		</li>
		
		<li class="px200">
			<input type="text" id="gcFname" onkeypress="return restrictCharacters(this, event, mykeys);" onkeyup="callme(); "disabled="disabled"/>
		</li>
		
		<li class="px150">
			<input type="text" id="gcDob" onkeypress="return restrictCharacters(this, event, mykeys);" onkeyup="callme();" disabled="disabled" />
		</li>
		
	</ul>
</div>

