
<div id="patient_data">
	<div class="modal_header">
		<div class="detail_header">
			<ul>
				<li>VIEW CASE</li>
			</ul>
		</div>
		<div class="action_buttons">
		    <!--<button onclick=""><span class="icofont_alpha">p</span>PRINT</button>--><button onclick="dlogmainclose();" class="close">X</button>
		</div>
	</div>
	
	<div class="patient_data" >
		<nav class="bookmark_nav">
			<ul>
				<li><a id="polnav"  onclick="load_pat_section();" data-remote="true" href="#">Patient Info</a><span></span></li>
				<li><a id="apptnav" onclick="load_surg_section();" data-remote="true" href="#">Surgery Info</a><span></span></li>
				<li><a id="histnav" onclick="load_block_section();" data-remote="true" href="#">Regional 1</a><span></span></li>
				<!--<li><a id="guarnav" onclick="load_block_section2();" data-remote="true" href="#">Regional 2</a><span></span></li>-->
				<li><a id="comnav"  onclick="load_proc_section();" data-remote="true" href="#">Bill Procs</a><span></span></li>
				<li><a id="docnav"  onclick="load_proc_section2();" data-remote="true" href="#">Bill Other</a><span></span></li>
				<li><a id="qanav"   onclick="load_qa_section();" data-remote="true" href="#">Quality Info</a><span></span></li>
				<li><a id="imgnav"  onclick="load_code_section();" data-remote="true" href="#">Code Info</a><span></span></li>
				<!--<li><a href="#" onclick=alert("Prescription Data Is Not Available")>Prescriptions</a><span></span></li>-->
				<!--<li><a href="#" onclick=alert("Lab Data Is Not Available")">Labs</a><span></span></li>-->
			</ul>
			<p>&nbsp</p>
			<br>
			<br>
			<%= button_to 'Scans', { :controller => 'scans', :action => 'addscan', :id => @case.caseid }, :remote => true %>		
			<br>
			<%= button_to 'Edit Case', { :controller => 'cases', :action => 'edit', :id => @case.id }, :remote => true %>		
			<br>
			<br>
			<!--<button onclick="getscan();">Add Scan</button>-->
			
		</nav>
		

		
		<div id="casedisplaydiv" class="case_view" >
			   <div id="casescrolldiv" class="scroll_box" onkeypress="return checkEnter(this,event);"></div>
		</div>
	</div>
</div>
