
function checkEnter(myfield,e){
    if (!e){
      var e = window.event;
    } 
    if (e.keyCode){
      code = e.keyCode;    // IE   
    }else if (e.which){
	  code = e.which;      // Other browsers
	}
	if (code == 13){
	    return false;
	}	
}	


function setlocnav(){
    $.get("/cases/setloc");	
}

function setcrnanav(){
    $.get("/cases/setcrna");	
}

function setprovnav(){
    $.get("/cases/setprov");	
}

function setsurgnav(){
    $.get("/cases/setsurg");	
}

function setusernav(){
    $.get("/cases/setuser");	
}

function dlogmain2close(){
   $('#dialogmaindiv2').dialog('destroy').remove();
}

function dlogmain2(){
   var $dialogmain2 = $('<div id=dialogmaindiv2></div>')
        .html('\
        ')
                .dialog({
                autoOpen: false,
                title: '',
                position: 'center',
                height: 500,
                width: 940,
				modal: true,
				resizable: true,
                open: function(event, ui) { jQuery('.ui-dialog-titlebar-close').hide(); 
                                          },
                });

   $dialogmain2.dialog('open');
}
dlogmain2();
$('#dialogmaindiv2').html("<%= escape_javascript(render :partial => 'cases/adminscreen')%>");
setusernav();
