
<div class="case_body">
	<div class="case_view">
		<h2>MENU</h2>
		<a data-remote="true" href="/cases/addcase">Add Case</a>
	</div>
	
	<div id="test123">
		<h2>HERE WE GO</h2>
	</div>
</div>