
function load_pat_section(){
 	$('#casescrolldiv').scrollTop(0);
//	$('#case_patid1').focus();
	var myvar = document.activeElement;
}

function load_surg_section(){
	$('#casescrolldiv').scrollTop(450);
//	$('#case_servdt').focus();
	var myvar = document.activeElement;
}

function load_block_section(){
	$('#casescrolldiv').scrollTop(890);
//	$('#post_op_block_check').focus();
	var myvar = document.activeElement;
}

function load_block_section2(){
	$('#casescrolldiv').scrollTop(1340);
//	$('#case_femoral').focus();
	var myvar = document.activeElement;
}

function load_proc_section(){
	$('#casescrolldiv').scrollTop(1785);
//	$('#require_addp_check').focus();
	var myvar = document.activeElement;
}

function load_proc_section2(){
	$('#casescrolldiv').scrollTop(2200);
//	$('#case_addproc13').focus();
	var myvar = document.activeElement;
}

function load_code_section(){
	$('#casescrolldiv').scrollTop(2623);
//	$('#case_cpt_surg').focus();
	var myvar = document.activeElement;
}

function dlogmainclose(){
   $('#dialogmaindiv').dialog('destroy').remove();
}

function dlogmain(){
   var $dialogmain = $('<div id=dialogmaindiv></div>')
        .html('\
        ')
                .dialog({
                autoOpen: false,
                title: '',
                position: 'center',
                height: 500,
                width: 940,
				modal: false,
				resizable: false,
                open: function(event, ui) { jQuery('.ui-dialog-titlebar-close').hide(); 
                                          },
                });

   $dialogmain.dialog('open');
}
dlogmain();
$('#dialogmaindiv').html("<%= escape_javascript(render :partial => 'cases/viewcase')%>");
$('#casescrolldiv').html("<%= escape_javascript(render :partial => 'cases/viewform')%>");

