function checkEnter(myfield,e){
    if (!e){
      var e = window.event;
    } 
    if (e.keyCode){
      code = e.keyCode;    // IE   
    }else if (e.which){
	  code = e.which;      // Other browsers
	}
	if (code == 13){
	    return false;
	}	
}	

function checkTab(myfield,e){
    if (!e){
      var e = window.event;
    } 
    if (e.keyCode){
      code = e.keyCode;    // IE   
    }else if (e.which){
	  code = e.which;      // Other browsers
	}
	myid = myfield.id

	if (code == 9){
	    if (myid == "case_ins_cat"){
			$('#case_patid1').focus();
			return false;
		}else if (myid == "case_physical_state"){
			$('#case_anes_sid').focus();
			return false;
		}else if (myid == 'case_otherproc2_desc'){
			$('#casescrolldiv').scrollTop(1790);
			$('#require_addp_check').focus();
			return false;
		}else if (myid == 'case_surgical_amount'){
			$('#case_cpt_surg').focus();
			return false;
		}else if (myid == 'case_postop_block_req'){
			$('#casescrolldiv').scrollTop(1310);
			return false;
		}else if (myid == 'case_addproc14_days'){
			$('#casescrolldiv').scrollTop(2225);
		}
		return true;
	}
}	







function load_pat_section(arg){
 	$('#casescrolldiv').scrollTop(0);
	if (arg == 1){
		$('#case_patid1').focus();
	}	
	var myvar = document.activeElement;
}

function load_surg_section(arg){
	$('#casescrolldiv').scrollTop(470);
	if (arg == 1){
		$('#case_anes_sid').focus();
	}	
	var myvar = document.activeElement;
}

function load_block_section(arg){
	$('#casescrolldiv').scrollTop(895);
	if (arg == 1){
		$('#post_op_block_check').focus();
	}	
	var myvar = document.activeElement;
}

function load_proc_section(arg){
	$('#casescrolldiv').scrollTop(1350);
	if (arg == 1){
		$('#require_addp_check').focus();
	}	
	var myvar = document.activeElement;
}

function load_proc_section2(arg){
	$('#casescrolldiv').scrollTop(1780);
	if (arg == 1){
		$('#case_addproc13').focus();
	}	
	var myvar = document.activeElement;
}

function load_code_section(arg){
	$('#casescrolldiv').scrollTop(2320);
	if (arg == 1){
		$('#case_cpt_surg').focus();
	}	
	var myvar = document.activeElement;
}

function dlogmainback(){
   $('#dialogmaindiv').html("<%= escape_javascript(render :partial => 'cases/viewcase')%>");
   $('#casescrolldiv').html("<%= escape_javascript(render :partial => 'cases/viewform')%>");
}
function dlogmainclose(){
   $('#dialogmaindiv').dialog('destroy').remove();
}

function dlogmain(){
   var $dialogmain = $('<div id=dialogmaindiv></div>')
        .html('\
        ')
                .dialog({
                autoOpen: false,
                title: '',
                position: 'center',
                height: 500,
                width: 940,
				modal: true,
				resizable: false,
                open: function(event, ui) { jQuery('.ui-dialog-titlebar-close').hide(); 
                                          },
                });

   $dialogmain.dialog('open');
}
dlogmain();
$('#dialogmaindiv').html("<%= escape_javascript(render :partial => 'cases/viewcase')%>");
$('#casescrolldiv').html("<%= escape_javascript(render :partial => 'cases/viewform')%>");

