<footer class="login_footer">
	<div class="sub_footer"></div>
	<div class="copyright">
<!--	<p>&copy; Harmony Healthcare IT. All Rights Reserved. Version 6.00.</p>-->
<!--	<p><a href="http://www.harmonyhit.com" target="_blank">Harmony Healthcare IT</a><br>(800) 781-1044<br>Get in touch <a href="mailto:info@HarmonyHIT.com">info@HarmonyHIT.com</a></p>-->
	</div>
</footer>
