<footer class="login_footer">
	<div class="sub_footer"></div>
	<div class="copyright">
<!--	<p>&copy;Bla BLa Bla</p>-->
<!--	<p><a href="http://www.sapsdev.com" target="_blank">Bla Bla Bla</a><br>(800) 541-1234<br>Get in touch <a href="mailto:bla@bla.bla">bla@bla.bla</a></p>-->
	</div>
</footer>
