
<head>
<script type="text/javascript">


var WebTWAIN = document.embeds[0];
WebTWAIN.SelectSourceByIndex(0);
WebTWAIN.CloseSource();
WebTWAIN.OpenSource();
WebTWAIN.IfShowUI = 0;
WebTWAIN.PixelType = 0;  
WebTWAIN.Resolution = 100;
WebTWAIN.IfFeederEnabled = 0;
WebTWAIN.IfDuplexEnabled = 0 ;



function getscan(){
	
	var buffct = WebTWAIN.HowManyImagesInBuffer;
    WebTWAIN.AcquireImage();
}



function saveaspdf(){

 $.ajax({url: '/scans/saveaspdf/?caseid=' + <%=@mycaseid%> ,dataType: 'script'});
 
}


</script>
</head>



<div class="admin_view" id="adminview">

		<EMBED
			TYPE="Application/DynamicWebTwain-Plugin"
			WIDTH="0"
			HEIGHT="0"
		</EMBED>

  		<div class="modal_header">
			<div id="scanbanner" class="detail_header">ADMIN</div>
			<div class="action_buttons">
				<!--<button onclick=""><span class="icofont_alpha">p</span>PRINT</button>--><button onclick="dlogscanclose()" class="close">X</button>
			</div>
		</div>
	
        <div class="left_controls">
            <nav class="bookmark_nav">
                <ul>
                    <li><a id="scanpage" onclick="getscan();" data-remote="true" >Scan Page</a><span></span></li>
                    <li><a id="scansave" onclick="saveaspdf();" data-remote="true" >Scan Save</a><span></span></li>
                </ul>
            </nav>
			
            <div id="scanbuttons"></div>
				
		</div>
		
		<div class="table_data">
			<div id="scanscrolldiv class="scroll_box">
					<table class="default_header modal_data_display" id="scanheader" style="table-layout:fixed;">
					<table class="modal_data_display" id="scanlist" style="table-layout:fixed;"">			   
			</div>
		</div>
</div>


