

function dlogscanclose(){
   $('#dialogscandiv').dialog('destroy').remove();
}

function dlogscan(){
   var $dialogscan = $('<div id=dialogscandiv></div>')
        .html('\
        ')
                .dialog({
                autoOpen: false,
                title: '',
                position: 'center',
                height: 500,
                width: 940,
				modal: false,
				resizable: false,
                open: function(event, ui) { jQuery('.ui-dialog-titlebar-close').hide(); 
                                          },
                });

   $dialogscan.dialog('open');
}
dlogscan();

$('#dialogscandiv').html("<%= escape_javascript(render :partial => 'scans/scanscreen')%>");
$('#scanheader').html("<%= escape_javascript(render :partial => 'scans/scanhd')%>");
$('#scanlist').html("<%= escape_javascript(render :partial => 'scans/scan', :collection => @scans)%>");





			
