/* med2 Locally Loaded Web Fonts Styles */
/* ------------------------------------- */

@font-face {
    font-family: 'LatoLight';
    src: url('webfonts/lato-light-webfont.eot');
    src: url('webfonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/lato-light-webfont.woff') format('woff'),
         url('webfonts/lato-light-webfont.ttf') format('truetype'),
         url('webfonts/lato-light-webfont.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Font Family References
// ----------------------

//font-family: 'LatoLight';